@use 'common' as *;

.buttonContainer {
  height: 49px;
  font-size: 18px;
  font-weight: 700;
  border-width: 0;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: $txt-color;
  border-radius: 31px;
  display: flex;
  color: $white;
  line-height: 21px;
  text-align: center;
  &.disabled{
    background-color: #adadad;
  }
  @media screen and (max-width: 575px) {
    max-width: 100%;
  }
}
